h1 {
    color: purple;
    font-family: fantasy;
    text-align: center;
}

h2, p, ul, li {
    color: purple;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.stickfigure {
    border: 8px;
    border-style: dashed;
    border-color: yellow;
}