h1 {
    color: purple;
    font-family: fantasy;
    text-align: center;
}

h1, h2, p, ul, li {
    color: purple;
    font-family: fantasy;
}

#stickfigure {
    border: 8px;
    border-style: dashed;
    border-color: yellow;
}